body {
  background-color: rgb(191, 230, 243);
  text-align: center;
}

div#divSup {
  display: flex;
}

div#resultado {
  border: 1px solid black;
  text-align: left;
  margin-top: 20px;
}

div#imagemFilme {
  border: 1px solid black;
  text-align: left;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 5px;
}

h2#infoTitulo {
  text-align: center;
}
